<div class="bg-dark footer-section container-fluid">

    <h5 class="text-white text-center">Made with ❤ in India</h5>

    <div class="text-center p-2 text-light">
        © 2021 Copyright by Mrudul.
    </div>
</div>
<div class="text-center d-flex justify-content-between">
    <span class="w-100" style="background-color: #33363b; height: 5px;"> </span>
    <span class="w-100" style="background-color: #368cbf; height: 5px;"> </span>
    <span class="w-100" style="background-color: #7ebc59; height: 5px;"> </span>
    <span class="w-100" style="background-color: #C12F6C; height: 5px;"> </span>
    <span class="w-100" style="background-color: #eaeaea; height: 5px;"> </span>
    <span class="w-100" style="background-color: #32363C; height: 5px;"> </span>
</div>